#navbar
{
    background-color: white;
    border-bottom: 2px black solid;
    

}

#navbar h1{
/* 150, 400 */
     padding-left: 10%;
    padding-right: 30%; 


    padding-top: 0;
    padding-bottom: 0;
    margin-top:1%;
    float: left;
    font-size: 40;
    font-family: 'Poppins', sans-serif;
}

#navbar ul{

    width: 100%;
    height: 10%;
    list-style: none;
    
   


}

#navbar li{

    float: left ;
    
    margin-right: 6%;

    
    padding-top: 2%;
    font-size: 20;
    
    
}

#navbar a{
    text-decoration: none;
}

body{

    background-color: #fffef2;
    
    padding: 0;
    margin: 0;
}

#half1{

   

}

#half1 img{

    float: right;
    width: 30%;
    
    margin-left: 8%; 
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 10%;


}

#half1 p1{
    background-color: whitesmoke;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
    width: 40%;
    margin-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 4%;
    padding-left: 1.5%;
    margin-bottom: 2%;
    border-radius: 20px;
    
    


}

#half1 p2{

    float: left;
    font-size: 40;
    margin-left: 10%;
    margin-top: 2%;
    
    background-color:#F2A2E6;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    

}

#half2{

}

#half2 h2{

    font-family: 'Poppins', sans-serif;
    margin-left: 6%;
    font-size: 250%;
    margin-top: -3%;
    padding-top: 0;
    font-weight: 3;
    width: 35%;
   


}

#half2 h4{

    background-color:#F2A2E6;
    border-radius: 25px;
    
    width: 35%;
    height: 14%;
    margin-top: -60px;


}

#half2 p{

    font-family: Georgia;
    font-size: 17px;
    line-height: 2.2;
    margin-top: 2%; 
    margin-left: 28%;   
    margin-right: 28%;  
}

.clear{

    clear: both;
}


#ahalf1{

   


}

#ahalf1 h1{

    font-size: 80;
    font-weight: lighter;
    margin-left: 60;
    margin-top: -10;
    margin-right: 500;
    margin-bottom: 0;
    
    
    
    




}

#ahalf1 h4{
   
    background-color:#F2A2E6;
    border-radius: 25px;

    width: 700;
    height: 100;
    margin-top: -50px;


}

#ahalf1 img{

    float: right;
    height: 400;
    margin-top: -45;
    margin-right: 30;

    

}




.highlight{

    background-color: yellow;
    margin-left: 300;
    margin-right: 500;
    font-family: Georgia;
    font-size: 17px;
    line-height: 2.2;
   
    
}

  

#ahalf1 p{

    font-family: Georgia;
    font-size: 17px;
    line-height: 2.2;
    margin-top: 30;
    margin-left: 300;
    margin-right: 500;
    padding: 0;
}

.pshift{

    width: 50%;
    float: right;
    margin-top: -90;
    font-family: Georgia;
    font-size: 19px;
    
    margin-right: 10;
    
    background-color: yellow;
   
    
}

.teamimage{

    


}

.teamimage img{

    float: left;
    
    width: 360;
    height: 360;
    

    
    
    
}






footer{
        
    text-align: center;
    padding: 3px;
    height: 50;
    background-color: black;
    color: white;
    width: 100%;


  

}


